<%= link_to("New Drama", new_category_drama_path(@category), :class => "btn btn-info pull-right") %>
<h2><%= @category.name %></h2>
<hr>

<% @dramas.each_with_index do |drama, index| %>
  <% if index % 4 == 0 %>
    <div class="row">
  <% end %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="rpost1">
      <%= link_to(drama_path(drama)) do %>
      <div class="rimg">
        <%= image_tag(drama.image.url, :class => "img-responsive") %>
      </div><!-- Title & Para -->
      <div class="rdetails">
        <h5>
          <%= drama.name %>
        </h5>
        <p>
          <%= drama.description %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <% if index % 4 == 3 %>
    </div>
  <% end %>
<% end %>
