<!DOCTYPE html>
<html>
  <head>
    <title>DramaTracker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "common/header" %>
    <%= render :partial => "common/nav" %>
    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
</html>
